FRIDAY_DB_HOST=localhost
FRIDAY_DB_PORT=5432
FRIDAY_DB_NAME=Friday
FRIDAY_DB_USER=friday_app
FRIDAY_DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD

FRIDAY_OLLAMA_BASE_URL=http://127.0.0.1:11434
FRIDAY_OLLAMA_MODEL=qwen2.5:3b

FRIDAY_AI_MODE=local
FRIDAY_STORE_SYSTEM_METRICS=false
